{% extends 'base.html.twig' %}

{% block title %}Message Reclamation{% endblock %}

{% block body %}
    <h1>Message Reclamation Details</h1>

    <table>
        <tr>
            <th>Contenu</th>
            <td>{{ message_reclamation.contenu }}</td>
        </tr>
        <tr>
            <th>Date Message</th>
            <td>{{ message_reclamation.dateMessage|date('Y-m-d H:i') }}</td>
        </tr>
        <tr>
            <th>Reclamation</th>
            <td>{{ message_reclamation.reclamation.id }}</td>
        </tr>
    </table>

    <a href="{{ path('message_reclamation_index') }}">Back to List</a>
{% endblock %}