<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ asset('css/loginpage.css') }}">

</head>
<body>
</div>

<div class="agriplanner-form">
<div class="sign-up-title">
    Sign up now
</div>
    <div class="firstname-lastname">
    <div class="input-firstname">
        <div class="title-text">First name</div>
        <div class="input-area"></div>
    </div>

    <div class="input-firstname">
        <div class="title-text">Last name</div>
        <div class="input-area"></div>
    </div>
    </div>

    <div class="input-email">
        <div class="title-text">Email adress</div>
        <div class="input-area-email"></div>
    </div>

    <div class="input-phone-number">
        <div class="title-text">Phone number</div>
        <div class="input-area-phone"></div>
    </div>

    <div class="input-password">
        <div class="title-text">Password</div>
        <div class="input-area-password"></div>
        <div class="text-under-input">Use 8 or more characters with a mix of letters, numbers & symbols</div>
    </div>


    <div class="checkbox-policies">
        <div class="checkbox">
        <div class="black-box"></div>
        <div class="checkbox-text">By creating an account, I agree to our Terms of use and Privacy Policy </div>
        </div>

        <div class="checkbox">
            <div class="black-box"></div>
            <div class="checkbox-text">Use 8 or more characters with a mix of letters, numbers & symbols</div>
        </div>
    </div>

    <div class="login-text">
        <div class="login-btn">Sign up</div>
        <div class="text">Already have an ccount? Log in</div>
    </div>



</div>

</body>